h3{
  color: lightgray;
  font-size: 2rem;
  padding-left: 10px;
  padding-top: 5px;
  margin: 0;
}
.slide{
  height: 100vh;
}
.v-slide{
  height: 100vh;
  box-sizing: border-box;
}
.sl-1-1{border: 10px solid #D15490;}
.sl-1-2{border: 10px solid #E85251;}
.sl-1-3{border: 10px solid #DE634E;}
.sl-2-1{border: 10px solid #3FBED1;}
.sl-2-2{border: 10px solid #3AA3E8;}
.sl-2-3{border: 10px solid #3770DE;}
.sl-3-1{border: 10px solid #D1BF2A;}
.sl-3-2{border: 10px solid #E8C023;}
.sl-3-3{border: 10px solid #DEA521;}
.slick-dots{
  position: absolute;
  top: 10px;
  display: flex!important;
  flex-direction: column;
  pointer-events: none;
}
.slick-dots li{
  margin: 0 10px 0 auto!important;
}
.slick-slide{
  border: none!important;
}
.slick-prev:before,
.slick-next:before {
  color: lightgray!important;
}
